include MANIFEST.in
include DecisionTree-3.4.3.html
include DecisionTree/DecisionTree.py
include DecisionTree/__init__.py
include DecisionTreeWithBagging/DecisionTreeWithBagging.py
include DecisionTreeWithBagging/__init__.py
include BoostedDecisionTree/BoostedDecisionTree.py
include BoostedDecisionTree/__init__.py
include RandomizedTreesForBigData/__init__.py
include RandomizedTreesForBigData/RandomizedTreesForBigData.py
include RegressionTree/RegressionTree.py
include RegressionTree/__init__.py
include setup.py
include Makefile
include README
include TestDecisionTree/DecisionTree.py
include TestDecisionTree/TestBestFeatureCalculation.py
include TestDecisionTree/TestDecisionTreeClassification.py
include TestDecisionTree/TestDecisionTreeInduction.py
include TestDecisionTree/TestEntropyCalculation.py
include TestDecisionTree/TestProbabilityCalculation.py
include TestDecisionTree/Test.py
include TestDecisionTree/training_symbolic.csv
include ExamplesBagging/bagging_for_classifying_one_test_sample.py
include ExamplesBagging/bagging_for_bulk_classification.py
include ExamplesBagging/README_for_bagging_examples
include ExamplesBagging/training5.csv
include ExamplesBagging/test5.csv
include ExamplesBagging/stage3cancer.csv
include ExamplesBoosting/boosting_for_classifying_one_test_sample_1.py
include ExamplesBoosting/boosting_for_classifying_one_test_sample_2.py
include ExamplesBoosting/boosting_for_bulk_classification.py
include ExamplesBoosting/stage3cancer.csv
include ExamplesBoosting/training6.csv
include ExamplesBoosting/test6.csv
include ExamplesBoosting/out6.csv
include ExamplesBoosting/README_for_boosting_examples
include ExamplesRandomizedTrees/README_for_using_randomized_trees
include ExamplesRandomizedTrees/randomized_trees_for_classifying_one_test_sample_1.py
include ExamplesRandomizedTrees/randomized_trees_for_classifying_one_test_sample_2.py
include ExamplesRandomizedTrees/classify_database_records.py
include ExamplesRandomizedTrees/stage3cancer.csv
include ExamplesRegression/README_for_regression_tree_examples
include ExamplesRegression/regression4.py
include ExamplesRegression/regression5.py
include ExamplesRegression/regression6.py
include ExamplesRegression/regression8.py
include ExamplesRegression/gendata4.csv
include ExamplesRegression/gendata5.csv
include ExamplesRegression/gen3Ddata1.csv
include Examples/classify_by_asking_questions.py
include Examples/classify_test_data_in_a_file.py
include Examples/construct_dt_and_classify_one_sample_case1.py
include Examples/construct_dt_and_classify_one_sample_case2.py
include Examples/construct_dt_and_classify_one_sample_case3.py
include Examples/construct_dt_and_classify_one_sample_case4.py
include Examples/construct_dt_for_heavytailed.py
include Examples/evaluate_training_data1.py
include Examples/evaluate_training_data2.py
include Examples/generate_training_data_numeric.py
include Examples/generate_training_data_symbolic.py
include Examples/param_numeric.txt
include Examples/param_numeric_strongly_overlapping_classes.txt
include Examples/param_numeric_extremely_overlapping_classes.txt
include Examples/param_symbolic.txt
include Examples/README
include Examples/stage3cancer.csv
include Examples/training.csv
include Examples/training2.csv
include Examples/training3.csv
include Examples/training4.csv
include Examples/heavytailed.csv
include Examples/training_symbolic.csv
include Examples/test4.csv
include Examples/test4_no_class_labels.csv
include Examples/introspection_in_a_loop_interactive.py
include Examples/introspection_show_training_samples_at_all_nodes_direct_influence.py
include Examples/introspection_show_training_samples_to_nodes_influence_propagation.py
include Examples/get_indexes_associated_with_fields.py
